option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGO_URL: "set-in-deployment-environment"
    DB_NAME: "habio"
    JWT_SECRET: "set-in-deployment-environment"
    ENVIRONMENT: "production"
    CRON_SECRET: "set-in-deployment-environment"
    ADMIN_EMAIL: "set-in-deployment-environment"
    ADMIN_PASSWORD: "set-in-deployment-environment"
    GOOGLE_WEB_CLIENT_ID: "set-in-deployment-environment"
    GOOGLE_IOS_CLIENT_ID: "set-in-deployment-environment"
    GOOGLE_ANDROID_CLIENT_ID: "set-in-deployment-environment"
